<!--Top Div-->
<div class="row flex-lg-row align-items-center g-5 py-4 mb-20">
    <!--Title and Introduction-->
    <div class = "col-12 col-lg-9">
        <h1 class = "display-5 fw-bold mb-2">Explore the World of Culi Recipes</h1>
        <p>Are you a cook? Maybe you are a head chef, or a young professional looking to cook a delicious meal for your friends and colleagues.
            On Culi, you will find an exciting world of recipes available for the novice or expert in the kitchen. </p>
        <div class="row flex-lg-row align-items-center g-5 py-2 mb-2">
            <!--Recipe Navigation-->
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="/allRecipes" class="btn btn-primary btn-dark btn-m px-4">All Recipes</a>
                <a href="/random" class="btn btn-outline-secondary btn-dark btn-m px-4">Feeling Lucky</a>
            </div>
        </div>
    </div>
</div>




<!--Explore-->
    <div class="row p-3 bg-light text-black">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <h3>Explore</h3>
        </div>
    </div>
            
    <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4 align-items-center justify-content-center">
        <% if(typeof category !== 'undefined' && category.length > 0){ %>
            <% category.forEach(function(categories, index){ %>
                <a href="/Category/<%- categories.title %>" class="col text-center meal_link">
                    <div class="card">
                        <img src="media/<%- categories.image %>" alt="<%- categories.title %>" loading="lazy">
                    </div>
                <div><%- categories.title %></div>
                </a>
            <% }) %>
        <% } %>
    </div>




<!--Latest Inspiration-->
    <div class="row p-3 bg-light text-black">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <h3>Latest</h3>
        </div>
    </div>

    <div class="row flex-row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4 middle_div1 align-items-center justify-content-center">
        <% if(meals.newest != '') { %>
            <% meals.newest.forEach(function(recipe, index){ %>
                <a href="/recipe/<%=recipe.id %>" class="col text-center meal_link">
                    <div class="card">
                      <img src="/uploads/<%=recipe.image %>" alt="<%-recipe.title %>" loading="lazy">
                    </div>
                    <div><%-recipe.title %></div>
                </a>
            <% }) %>
        <% } %>
    </div>

<!--Breakfast-->
<div class="row p-3 bg-light text-black">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <h3>Breakfast</h3>
        <a href="/Category/Breakfast" class="col">View More</a>
    </div>
</div>

<div class="row flex-row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4 align-items-center justify-content-center middle_div1">
    <% if(meals.Breakfast != '') { %>
        <% meals.Breakfast.forEach(function(recipe, index){ %>
            <a href="/recipe/<%=recipe.id %>" class="col text-center meal_link">
                <div class="card">
                  <img src="/uploads/<%=recipe.image %>" alt="<%-recipe.title %>" loading="lazy">
                </div>
                <div><%-recipe.title %></div>
            </a>
        <% }) %>
    <% } %>
</div>

<!-- Lunch Inspiration-->
<div class="row p-3 bg-light text-black">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <h3>Lunch</h3>
        <a href="/Category/Lunch" class="m1-10">View More</a>
    </div>
</div>

<div class="row flex-row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4 align-items-center justify-content-center middle_div1">
    <% if(meals.Lunch != '') { %>
        <% meals.Lunch.forEach(function(recipe, index){ %>
            <a href="/recipe/<%=recipe.id %>" class="col text-center meal_link">
                <div class="card">
                  <img src="/uploads/<%=recipe.image %>" alt="<%-recipe.title %>" loading="lazy">
                </div>
                <div><%-recipe.title %></div>
            </a>
        <% }) %>
    <% } %>
</div>

<!--Dinner-->
<div class="row p-3 bg-light text-black">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <h3>Dinner</h3>
        <a href="/Category/Dinner" class="m1-10">View More</a>
    </div>
</div>
<div class="row flex-row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4 align-items-center justify-content-center middle_div1">
    <% if(meals.Dinner != '') { %>
        <% meals.Dinner.forEach(function(recipe, index){ %>
            <a href="/recipe/<%=recipe.id %>" class="col text-center meal_link">
                <div class="card">
                  <img src="/uploads/<%=recipe.image %>" alt="<%-recipe.title %>" loading="lazy">
                </div>
                <div><%-recipe.title %></div>
            </a>
        <% }) %>
    <% } %>
</div>

<!--Dessert-->
<div class="row p-3 bg-light text-black">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <h3>Dessert</h3>
        <a href="/Category/Dessert" class="m1-10">View More</a>
    </div>
</div>

<div class="row flex-row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4 align-items-center justify-content-center middle_div1">
    <% if(meals.Dessert != '') { %>
        <% meals.Dessert.forEach(function(recipe, index){ %>
            <a href="/recipe/<%=recipe.id %>" class="col text-center meal_link">
                <div class="card">
                  <img src="/uploads/<%=recipe.image %>" alt="<%-recipe.title %>" loading="lazy">
                </div>
                <div><%-recipe.title %></div>
            </a>
        <% }) %>
    <% } %>
</div>

<!-- Everything in Between Inspiration-->
<div class="row p-3 bg-light text-black">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <h3>Everything in Between</h3>
        <a href="/Category/Everything" class="m1-10">View More</a>
    </div>
</div>
<div class="row flex-row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4 align-items-center justify-content-center middle_div1">
    <% if(meals.Everything != '') { %>
        <% meals.Everything.forEach(function(recipe, index){ %>
            <a href="/recipe/<%=recipe.id %>" class="col text-center meal_link">
                <div class="card">
                  <img src="/uploads/<%=recipe.image %>" alt="<%-recipe.title %>" loading="lazy">
                </div>
                <div><%-recipe.title %></div>
            </a>
        <% }) %>
    <% } %>
</div>

<!-- Create Div -->

<div class="px-4 py-5 my-5 text-center">
    <img src = "/media/recipesubmit.jpg" class="d-block mx-auto mb-4 ing-fluid" alt="" width="566" height="208">
    <h1 class="display-5 fw-bold">Create your own Recipe</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Create your recipe for other Culi's</p>
        <div class="d-grif gap-2 d-sm-flex justify-content-sm-center">
            <a href="/create" class="btn btn-primary btn-dark btn-lg">Create</a>
        </div>
    </div>
</div>



   









